/*
** Breakpoints
*/
$xs: '375px';
$sm: '600px';
$sm: '600px';
$md: '960px';
$lg: '1264px';
$xl: '1904px';

/*
** Black
*/
$black_00: #000000;
$black_01: #333333;
$black_02: #666666;

/*
** Grey
*/
$grey_01: #BBBBBB;
$grey_02: #DEDEDE;

/*
** Colors
*/
$active_color: #DCEDFF;


/*
** Font
*/
$font_family: Helvetica, Arial, sans-serif;
$font_color: $black_01;
